<!DOCTYPE HTML>

<html>
	<head>
		<title>Idea Finder</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
    </head>
    
        <frameset cols = "*, *, *">
            <frame src = "app_detail.html" scrolling = "auto">
            <frame src = "paper_detail.html" scrolling = "auto">
            <frame src = "news_detail.html" scrolling ="auto">
        </frameset>
  <script src="assets/js/main.js">
  </script>
</html>
