<!DOCTYPE HTML>

<html>
	<head>
		<title>Idea Finder</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css">
        <!--<link rel="stylesheet" href="assets/css/bootstrap.css">-->
        
    </head>
    <body>
        <style>
            body {text-align: center;}

        </style>        


        <br><br><br><br>
        <header id="header">
            <h1>점수에 대한 근거를 알려드립니다</h1>
        </header>
        <br>

        <div style="border: 1px solid #1cb495; padding: 5px; height: 400px;">

    <iframe src="app_detail.html" height="100%" width="33%" frameborder="1"></iframe>
    <iframe src="paper_detail.html" height="100%" width="33%" frameborder="1"></iframe>
    <iframe src="news_detail.html" height="100%" width="33%" frameborder="1"></iframe>

    </div>
    </body>

            <br><br><p>이전 페이지로 돌아가고 싶으면 "이전 페이지로"를 클릭하고, 검색창으로 가고 싶으면 "검색하기"를 클릭하세요<br>
            <a href="grading.html">이전 페이지로</a><br>
            <a href="main.html">검색하기</a>
        </p><br><br>
          
        </h5>
        <p>
           
        </p>
         

    <script src="assets/js/main.js">
    </script>
</html>
