<!DOCTYPE HTML>

<html>
	<head>
		<title>Idea Finder</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" /
		<link rel="stylesheet" href="assets/css/bootstrap.css"> 
    </head>
    <body>    
		<style>
			body {text-align: center;}
		</style>
			<div class="jumbotron">
					<h3>News분야에서   <img src="images/good.png"></h3>
					<h3>Google play분야에서   <img src="images/tomato.png"></h3>
					<h3>Apple app store분야에서   <img src="images/rotten.png"></h3><br><br>
					<p>
						첫 페이지로 돌아가고 싶으면 "첫 페이지로"를 클릭하고, 결과에 대한 이유를 보고 싶으면 "자세히"를 클릭하세요<br><br>
						<a href="main.html">첫 페이지로</a><br>
						<a href="detail.html">자세히</a>
					</p>
				  </div>

		<script src="assets/js/main.js">
		</script>
	</body>
</html>